@import "src/core/styles/_assets.scss";

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: color(white);
	@include radius(4);
	:global(.dark) & {
		background-color: color(black, 1);
	}
	padding: 40px;
	height: 100%;
	white-space: normal;
	@include large {
		padding: 32px;
	}
	@include small {
		padding: 24px;
	}
}
.icon {
	margin-bottom: 24px;
	&Img {
		display: block;
		width: 64px;
		height: 64px;
		object-fit: contain;
		@include small {
			width: 48px;
			height: 48px;
		}
	}
}
.title {
	@include font-size(h4);
	color: color(primary);
	@include x-small {
		@include font-size(h5);
	}
}
.desc {
	margin-bottom: 0;
}
