/* ==========================================================================
   Variable: Colors
   ========================================================================== */

// colors
$colors: (
	primary: #fac310,
	black: (
		1: #000,
		2: #1a1a1a,
		3: #141516,
	),
	grey: (
		1: #828282,
		2: #ebe6e2,
		3: #d9d1ca,
		4: #ffffff80,
	),
	sun: #f2c94c,
	white: #fff,
	overlay: rgba(#000, 0.4),
	social-media: (
		facebook: #1877f2,
		twitter: #1da1f2,
		instagram: #c13584,
		whatsapp: #25d366,
		youtube: #ff0000,
		x: #000,
		tiktok: #000,
		linkedin: #0077b5,
		telegram: #29b6f6,
		email: #d44637,
	),
);
