/* ==========================================================================
   Variable: z-index
   ========================================================================== */

$z-index: (
	header: 9,
	header-bar: 4,
	header-menu: 3,
	header-background: 2,
	theme-mode: 4,
	introduction: 99,
	introduction-text: 1,
);
