[class^="ei-"],
[class*=" ei-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "ethereal-icon" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ei-moon:before {
	content: "\e907";
}
.ei-sun:before {
	content: "\e908";
}
.ei-facebook:before {
	content: "\e900";
}
.ei-instagram:before {
	content: "\e901";
}
.ei-linkedin:before {
	content: "\e902";
}
.ei-tiktok:before {
	content: "\e903";
}
.ei-twitter:before {
	content: "\e904";
}
.ei-whatsapp:before {
	content: "\e905";
}
.ei-youtube:before {
	content: "\e906";
}
