@import "src/core/styles/_assets.scss";

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 240px;
	padding: 16px 32px;
	text-decoration: none;
	outline: 0;
	border: 0;
	cursor: pointer;
	text-align: center;
	overflow: hidden;
	@include font-size(h5);
	font-weight: fw(medium);
	@include remove-tap-highlight;
	color: color(white);
	@include radius(4);
	background-color: color(primary);
	transition: background-color 0.3s ease;
	&:hover {
		background-color: darken(color(primary), 10%);
	}
	@include medium {
		padding: 12px 24px;
	}
	@include small {
		min-width: 180px;
		@include font-size(h6);
	}
}
