@import "src/core/styles/_assets.scss";

.svgCurve {
	position: absolute;
	top: 0;
	left: -99px;
	width: 100px;
	height: 100%;
	fill: color(white);
	stroke: none;
	:global(.dark) & {
		fill: color(black, 2);
	}
}
