@import "src/core/styles/_assets.scss";

.video {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding: 64px 0;
	background-color: color(white);
	:global(.dark) & {
		background-color: color(black, 2);
	}
	@include large {
		padding: 56px 0;
	}
	@include medium {
		padding: 48px 0;
	}
	@include small {
		padding: 40px 0;
	}
	@include x-small {
		padding: 32px 0;
	}
	&Player {
		width: 100%;
		height: 100vh;
		border-radius: 16px;
	}
}