@import "src/core/styles/_assets.scss";

.header {
	$h: &;
	position: fixed;
	top: 0;
	left: unset;
	right: 0;
	z-index: zi(header);
	width: auto;
	height: 100%;
	@include medium {
		width: 100%;
		height: auto;
	}
}
.bar {
	position: relative;
	z-index: zi(header-bar);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border-left: 1px solid color(grey, 2);
	background-color: color(white);
	width: 80px;
	height: 100%;
	padding: 24px 16px;
	:global(.dark) & {
		border-color: color(black, 2);
		background-color: color(black, 1);
	}
	@include medium {
		width: 100%;
		height: auto;
		flex-direction: row-reverse;
		padding: 12px 32px 11px;
		border-left: 0;
		backdrop-filter: 10px;
		border-bottom: 1px solid color(grey, 2);
		transition:
			background 0.2s linear,
			transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
		:global(.header-on-scroll) & {
			background-color: color(grey, 4);
		}
		:global(.scroll-down) & {
			transform: translateY(-100%);
		}
	}
	@include small {
		padding: 8px 24px 7px;
	}
	@include retina {
		padding: 8px 16px 7px;
	}
}
.logo {
	align-items: center;
	display: flex;
	justify-content: center;
	position: relative;
	transform: rotate(-90deg);
	width: 25vw;
	@include medium {
		display: none;
		transform: none;
		width: auto;
	}
	&Link {
		display: inline-block;
	}
	&Img {
		width: auto;
		height: 56px;
		display: block;
		transition: all 0.3s ease;
		@include small {
			height: 48px;
		}
	}
}
.mark {
	display: flex;
	align-items: center;
	&Link {
		display: inline-block;
	}
	&Img {
		width: auto;
		height: 64px;
		display: block;
		object-fit: contain;
		transition: all 0.3s ease;
		@include medium {
			height: 48px;
		}
	}
}
.burgerMenu {
	align-items: center;
	display: flex;
	justify-content: flex-end;
	width: auto;
	&Toggle {
		cursor: pointer;
		display: block;
		height: 20px;
		position: relative;
		width: 30px;
		outline: 0;
		border: 0;
		padding: 0;
		margin: 0;
		background-color: transparent;
		span {
			background-color: color(black, 1);
			display: block;
			height: 2px;
			left: 0;
			position: absolute;
			transition:
				transform 0.5s cubic-bezier(0.19, 1, 0.22, 1),
				opacity 0.2s linear;
			width: 100%;
			:global(.dark) & {
				background-color: color(white);
			}
			&:first-of-type {
				top: 0;
				transform-origin: 0 0;
				transition-delay: 0.3s;
			}
			&:nth-of-type(2) {
				top: 9px;
				transition-delay: 0.3s;
			}
			&:nth-of-type(3) {
				bottom: 0;
				transform-origin: 100% 0;
				transition-delay: 0.3s;
				:global(.show-menu) & {
					transform: scaleX(0);
				}
			}
			&:nth-of-type(4) {
				:global(.show-menu) & {
					transform: rotate(45deg);
				}
			}
			&:nth-of-type(5) {
				:global(.show-menu) & {
					transform: rotate(-45deg);
				}
			}
			&:first-of-type,
			&:nth-of-type(2),
			&:nth-of-type(3) {
				:global(.show-menu) & {
					opacity: 0;
					transition-delay: 0s;
				}
			}
			&:nth-of-type(4),
			&:nth-of-type(5) {
				top: 9px;
				:global(.show-menu) & {
					transition-delay: 0.15s;
				}
			}
		}
	}
}
.menu {
	position: fixed;
	right: 80px;
	top: 0;
	z-index: zi(header-menu);
	height: 100%;
	min-width: 480px;
	padding: 80px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: color(white);
	:global(.dark) & {
		background-color: color(black, 2);
	}
	@include medium {
		right: 0;
		padding: 137px 64px 64px;
	}
	@include small {
		padding: 113px 48px 48px;
	}
	@include x-small {
		min-width: initial;
		width: 100%;
		padding-right: 40px;
		padding-left: 40px;
		padding-bottom: 40px;
	}
}
.body {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.nav {
	display: flex;
	flex-direction: column;
	gap: 24px;
	@include small {
		gap: 16px;
	}
}
.footer {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.info {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	margin-bottom: 32px;
	&:last-child {
		border-bottom: 0;
	}
	&Label {
		@include font-size(h6);
		font-weight: fw(bold);
	}
	&Link {
		display: inline-block;
		text-decoration: none;
		@include font-size(h6);
		margin-bottom: 8px;
		transition: color 0.3s ease;
		&:hover {
			color: color(primary);
			border-color: color(primary);
		}
		&:last-child {
			padding-bottom: 4px;
			margin-bottom: 0;
			transition: all 0.3s ease;
			border-bottom: 1px solid color(black, 1);
			:global(.dark) & {
				border-color: color(white);
			}
			&:hover {
				border-color: color(primary);
			}
		}
	}
	button {
		background-color: color(primary) !important;
	}
}
.social {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-left: -8px;
	margin-right: -8px;
	&Link {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		text-decoration: none;
		@include font-size(h4);
		transition:
			background-color 0.3s ease,
			color 0.3s ease;
		&:hover {
			color: color(white);
		}
	}
	@include sosmed("instagram", "whatsapp");
}
.background {
	position: fixed;
	top: 0;
	left: 0;
	z-index: zi(header-background);
	width: 100%;
	height: 100%;
	backdrop-filter: blur(10px);
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease 0.5s;
	:global(.show-menu) & {
		opacity: 1;
		visibility: visible;
		transition-delay: 0.3s;
	}
}
